@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 315 33% 95%; /* light lavender */
    --foreground: 276 100% 10%;
    --card: 315 33% 100%;
    --card-foreground: 276 100% 10%;
    --popover: 315 33% 100%;
    --popover-foreground: 276 100% 10%;
    --primary: 276 100% 25%; /* Indigo */
    --primary-foreground: 315 33% 98%;
    --secondary: 315 20% 90%;
    --secondary-foreground: 276 100% 15%;
    --muted: 315 20% 90%;
    --muted-foreground: 276 20% 45%;
    --accent: 274 100% 50%; /* Violet */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 315 20% 85%;
    --input: 315 20% 88%;
    --ring: 276 100% 25%; /* Indigo */
    --chart-1: 276 76% 61%;
    --chart-2: 274 58% 39%;
    --chart-3: 280 37% 24%;
    --chart-4: 270 74% 66%;
    --chart-5: 278 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 315 33% 98%;
    --sidebar-foreground: 276 5.3% 26.1%;
    --sidebar-primary: 276 100% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 315 20% 90%;
    --sidebar-accent-foreground: 276 100% 15%;
    --sidebar-border: 315 20% 85%;
    --sidebar-ring: 274 100% 50%;
  }
  .dark {
    --background: 276 20% 5%;
    --foreground: 315 33% 95%;
    --card: 276 20% 7%;
    --card-foreground: 315 33% 95%;
    --popover: 276 20% 5%;
    --popover-foreground: 315 33% 95%;
    --primary: 315 33% 95%;
    --primary-foreground: 276 100% 15%;
    --secondary: 276 15% 15%;
    --secondary-foreground: 315 33% 95%;
    --muted: 276 15% 15%;
    --muted-foreground: 315 20% 65%;
    --accent: 274 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 15% 15%;
    --input: 276 15% 15%;
    --ring: 274 100% 60%;
    --chart-1: 276 70% 50%;
    --chart-2: 274 60% 45%;
    --chart-3: 280 80% 55%;
    --chart-4: 270 65% 60%;
    --chart-5: 278 75% 55%;
    --sidebar-background: 276 20% 7%;
    --sidebar-foreground: 315 33% 95%;
    --sidebar-primary: 274 100% 60%;
    /*--sidebar-primary-foreground: 0 0% 100%;*/
    --sidebar-accent: 276 15% 15%;
    --sidebar-accent-foreground: 315 33% 95%;
    --sidebar-border: 276 15% 15%;
    --sidebar-ring: 274 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Hide number input spinners */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
